.menufiltro {
    padding-top: 53px;
    margin-left: 18px;
}

.trconfig {

    margin-top: 10px;
    color: gray;
    width: 100%;
    margin-left: 56px;

}

.tableofc {
    display: flex;
    flex-direction: column;
}

.tabletr {
    display: flex;
    width: 100%;
    flex: 1;
    height: 46px;
    align-items: center;
    border-bottom: 1px solid rgb(194, 198, 201);;

}

.tabletr>th {

    width: 130px;
    text-align: left;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;

}
.imglist{
    height: 15px;
    width: 15px;
    align-items: left;

}

.col0 {
        
    flex: 0.2 !important;
}
.col1 {
        
    flex: 1.5 !important;
}

.col5 {
    flex: 1.2 !important;
}
.col6 {
    flex: 1.3 !important;
}
.col7 {
    flex: 1.2 !important;
}

.letter-green{
    color: rgb(41, 216, 41);
    font-weight: 600;
    
}

.letter-blue{
    color: rgb(67, 67, 214);
    font-weight: 600;
}

.letter-purple{
    color: rgb(173, 28, 173);
    font-weight: 600;
    
}

.progress {
    margin:20px 0;
    padding:0;
    width:90%;
    height:5px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:6px;
  }
  
  .bar {
      position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background:rgb(41, 216, 41);
  }
  
